$flex-basis-large: calc(24% - 0.5em);
$flex-basis-medium: calc(31% - 0.5em);
$flex-basis-small: calc(47% - 0.5em);
$flex-basis-extra-small: calc(100% - 0.5em);

.GalleryItem {
  flex: 0 1 $flex-basis-large;
  background: #fff;
  border: 1px solid #f3f0f0;
  box-shadow: 0 1px 2px #afafaf;
  border-radius: 5px;
  margin-right: 0.25em;
  margin-bottom: 0.5em;
  padding: 0.5em;

  &__image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }

  &__owner {
    margin-top: 5px;

    a {
      color: $color-danger;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (max-width: $layout-width-medium), (max-width: $layout-width-large) {
    flex-basis: $flex-basis-medium;
  }

  @media screen and (max-width: $layout-width-small) {
    flex-basis: $flex-basis-small;
  }

  @media screen and (max-width: $layout-width-extra-small) {
    flex-basis: $flex-basis-extra-small;
  }
}
