@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/metrophobic-v10-latin-regular.eot');
  src: local('Metrophobic Regular'), local('Metrophobic-Regular'),
    url('./assets/fonts/metrophobic-v10-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/metrophobic-v10-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/metrophobic-v10-latin-regular.woff') format('woff'),
    url('./assets/fonts/metrophobic-v10-latin-regular.ttf') format('truetype'),
    url('./assets/fonts/metrophobic-v10-latin-regular.svg#Metrophobic') format('svg');
}
