@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  animation: show 0.5s ease;

  @media screen and (max-width: $layout-width-extra-small) {
    padding: 0;
  }

  &__content-wrapper {
    display: flex;
    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background: white;

    @media screen and (max-width: $layout-width-extra-small) {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }

  &__close-button {
    position: fixed;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    margin: 1em;
    cursor: pointer;
    background: none;
    border: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0.95em;
      right: 0.01em;
      width: 2em;
      height: 0.1em;
      background: black;
    }

    &:hover::before,
    &:hover::after {
      background: $color-danger;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:focus {
      outline: 0;
    }

    @media screen and (max-width: $layout-width-extra-small) {
      background: white;
    }
  }
}
