.Paginator {
  margin: 30px;

  a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    background: lightgrey;
    /* min-width: 91px; */
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 1px #0000003d;

    &.Paginator__current_page {
      padding: 20px;
      background: darkgrey;
    }
  }
}
